################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1_ZamotohinaMaria_6411/.vs/Lab1_ZamotohinaMaria_6411/FileContentIndex
