################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1_ZamotohinaMaria_6411/.vs/Lab1_ZamotohinaMaria_6411/FileContentIndex/177f14f2-d8fa-4aa0-a59c-c9f2fbbecc4c.vsidx
